#
# from forseti-security/setup.py and forseti-security/requirements.txt
#

# Installation-related
anytree>=2.1.4
futures>=3.0.5
googleapis-common-protos[grpc]
google-api-python-client>=1.6.1
google-auth>=1.4.1
google-auth-httplib2>=0.0.3
google-cloud-asset
Jinja2>=2.9.5
MySQL-python>=1.2.5
netaddr>=0.7.19
PyYAML>=3.12
pygraph>=0.2.1
ratelimiter>=1.1.0
retrying>=1.3.3
requests[security]>=2.18.4
sendgrid>=3.6.3
simple-crypt>=4.1.7
unicodecsv>=0.14.1
pypcap

# Setup-related
google-apputils>=0.4.2
grpcio
grpcio-tools
protobuf>=3.2.0

# Testing-related
mock>=2.0.0
parameterized>=0.6.1
ruamel.yaml==0.15.37
pylint
pylint-quotes
SQLAlchemy>=1.1.9
codecov
flake8
